* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
    
}
body{
    margin: 0;
    padding: 0;
}

.banner{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.banner section {
    height: 100vh;
    scroll-snap-align: start;
}

.topleftbutton{
    position: relative;
    margin-top: 1px;
    margin-right: 50px;
    z-index: 1;
}

.logo {
    height: 100px;
    position: absolute;
    top: 10px;
    left :5px;
}
h1{ 
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 45px;
    color: white;
}

.toprightbutton{
    position: relative;
    top: 1px;
    z-index: 1;
}

.flaglogoFr{
    position: absolute;
    top: 20px;
    right: 460px;
}
.flaglogoGb{
    position: absolute;
    top: 20px;
    right: 400px;
}



.buttonright{
    position: absolute;
    top: 30px;
    right: 1px;
    font-size: 25px;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}


.buttonright:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.centerbutton{
    position: relative;
    z-index: 1;
}

.buttoncenter{
    font-size: 200%;
    position: absolute;
    top: 70vh;
    right: 25vw;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}
.buttoncenter:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.buttoncenter1{
    font-size: 200%;
    position: absolute;
    top: 80vh;
    left: 45vw;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}
.buttoncenter1:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.banner video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.image1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.title{
    position : relative;
    z-index: 1;
    top: 0px;
}

h2{ 
    position: absolute;
    top: 0px;
    left: 650px;
    font-size: 45px;
    color: white;

}