* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
    
}

.banner{
    width: 100%;
    height: 100%;
    overflow : hidden;
  
}

.banner video{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width: 100%;
    height:100%;
    
}


 .content {
    position: relative;
    z-index: 1;
}

.logo {
    height: 100px;
    position: absolute;
    top: 5px;
    left :5px;
}
h1{ 
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 45px;
    color: white;
}

.rightbutton{
    height: 100%;
    position :absolute;
    top: 20px;
    right : 30px;
    float: right;
}
.flaglogo{
    height: 20px;
    margin-right: 20px;
}

.wallpaperbutton{
    position: absolute;
    top: 70vh;
    left: 25%;
    

}

.button{
    font-size: 25px;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    margin-right: 15px;
    overflow: hidden;
}
.button:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.second-content{
    position: relative;
}

.wrapper{
    margin-top: 300vw;
}

@media only screen and (max-width: 1162px){
    .button{
        display:block;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .rightbutton{
        top: 100px;
    }
    .wallpaperbutton{
        top: 70vh;
        left:50vw;
        right: 0%;
        margin-left: 0%;
    }
    
}
