* {
    font-family: 'Source Sans Pro', serif;
    font-weight: 100;
}

header {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 120px;
}

footer {
    bottom: 0;
	left: 25%;
	width: 50%;
	position: fixed;
}

div.logo {
    width: 120px;
    height: 120px;
    border: 5px;
    float: left;
}

div.connection {
    width: 240px;
    height: 120px;
    border: 5px;
    top: 4%;
	left: 80%;
	position: fixed;
    float: right;
}

div.language {
    /* float property and vertical align are not compatible */
    width: 240px;
    height: 120px;
    border: 5px;
    text-align: center;
    top: 4%;
	left: 60%;
	position: fixed;
    float: right;
}

.clearing {
    clear: both;
}

.button {
    border: 1px solid lightgray;
    padding: 6px;
    margin: 6px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
}

.flagbutton {
    margin-top: 47px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: yellowgreen;
    cursor: pointer;
}
a {
	text-decoration: none;
	color: white;
}
