* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
    background-color: white;
}

header {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 120px;
}

footer {
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 98.8%;
    border: 2px;
    border-top: solid lightgray;
}

div.logo {
    width: 120px;
    height: 120px;
    border: 5px;
    float: left;
    margin-right: 25px;
}

p.name {
    font-size: 65px;
    float: left;
    margin: 0;
    margin-top: 8px;
}

div.connection {
    width: 240px;
    height: 120px;
    border: 5px;
    margin-top: -12px;
    float: right;
}

div.language {
    /* float property and vertical align are not compatible */
    width: 240px;
    height: 120px;
    border: 5px;
    text-align: center;
    float: right;
}

div.aboutus {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 270px;
    text-align: justify;
}

.clearing {
    clear: both;
}

.timesquare {
    float: right;
    padding: 5px;
    padding-left: 25px;
    height: 250px;
}

.button {
    border: 1px solid lightgray;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 6px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
}

.flagbutton {
    margin-top: 47px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}