* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
    
}

.banner{
    width: 100%;
    height: 100%;
    overflow : hidden;
  
}

.banner video{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width: 100%;
    height:100%;
    
}


 .content {
    position: relative;
    z-index: 1;
}

.logo {
    height: 100px;
    position: absolute;
    top: 5px;
    left :5px;
}
h1{ 
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 45px;
    color: white;
}
.flaglogo1{
    height: 25%;
    position :absolute;
    top : 20px;
    right: 420px;
}
.flaglogo2{
    height: 25%;
    position :absolute;
    top: 20px;
    right : 350px;
}


.centerbutton1 {
    padding:0px;
    margin: 0px;
    height:160%;
    width: 35%;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    top: 600px; 
    left: 30%;
    position :absolute;
    color: white;
    font-weight: 300px;
    background: none;
    transform: translate(-50%,-50%);
    border: 3px solid #ffffff;
    font-size: 25px;
    border-radius: 50px;
    transition: .6s;
    overflow: hidden;
}

.centerbutton1:hover {
    background-color: #39a5f1;
    cursor: pointer;
}
.centerbutton2 {
    padding:0px;
    margin: 0px;
    height:160%;
    width: 35%;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    top: 600px; 
    left: 70%;
    position :absolute;
    color: white;
    font-weight: 300px;
    background: none;
    transform: translate(-50%,-50%);
    border: 3px solid #ffffff;
    font-size: 25px;
    border-radius: 50px;
    transition: .6s;
    overflow: hidden;
}

.centerbutton2:hover {
    background-color: #39a5f1;
    cursor: pointer;
}
.centerbutton3 {
    padding: 0px;
    margin: 0px;
    height: 80%;
    width: 10%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    top: 30px;  
    right: 15px;
    position :absolute;
    color: white;
    background: none;
    transform: translate(-50%,-50%);
    border: 3px solid #ffffff;
    font-size: 25px;
    border-radius: 50px;
    transition: .6s;
    overflow: hidden;
}

.centerbutton3:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.second-content{
    position: absolute;
}

.wrapper{
    margin-top: 1000px;
}
