/* For desktop: */

* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
    background-color: white;
}

header {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 120px;
}

footer {
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 98.8%;
    border: 2px;
    border-top: solid lightgray;
}

div.logo {
    width: 120px;
    height: 120px;
    border: 5px;
    float: left;
    margin-right: 25px;
}

p.name {
    font-size: 65px;
    float: left;
    margin: 0;
    margin-top: 8px;
}

div.connection {
    width: 400px;
    height: 120px;
    border: 5px;
    float: right;
}

div.language {
    /* float property and vertical align are not compatible */
    width: 240px;
    height: 120px;
    border: 5px;
    text-align: center;
    float: right;
}

div.aboutus {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 270px;
    text-align: justify;
}

.clearing {
    clear: both;
}

.timesquare {
    float: right;
    padding: 5px;
    padding-left: 25px;
    height: 250px;
}

.button {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}

.whitelink {
    color: white;
    font-weight: 300;
    background-color: #50b3f8;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
}

.whitelink:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.flagbutton {
    margin-top: 47px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.checkmail {
    width: 1080px;
    text-align: center;
    width: 400px;
    padding: 10px;
}

.center {
    text-align: center;
}


/* login page */

.loginformcontainer {
    font-size: x-large;
    height: 400px;
    padding-top: 7%;
    text-align: center;
}

.loginform {
    display: inline-block;
    text-align: right;
    width: 400px;
    padding: 10px;
}

input[type=email] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=password] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=text] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=date] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #50b3f8;
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 90px;
    border: none;
}

input[type=submit]:hover {
    background-color: #39a5f1;
    cursor: pointer;
}

.messagecontainer {
    font-size: x-large;
    height: 65px;
    padding-top: 10%;
    text-align: center;
}

.message {
    display: inline-block;
    text-align: center;
    width: 750px;
    padding: 10px;
}

.passworderror {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
}

.passworderrorlogin {
    color: red;
}


/* profile page */

.profilecontainer {
    font-size: x-large;
    height: 410px;
    padding-top: 5%;
    padding-left: 25%;
    margin: auto;
}

.profileinfo {
    float: left;
    text-align: left;
    width: 500px;
    padding: 10px;
}

.profileimage {
    padding-bottom: 8px;
}

.imagecontainer {
    font-size: 15px;
    float: left;
    text-align: center;
    width: 300px;
    padding: 10px;
}

.champsinfo {
    padding-right: 10px;
}

@media only screen and (max-width: 1050px) {
    /* For mobile phones: */
    * {
        font-size: 98%;
    }
    .titletext {
        font-size: 22px;
    }
    header {
        border: 2px;
        border-bottom: solid lightgray;
        padding: 5px;
        margin: 1px;
        height: 100px;
    }
    div.logo {
        width: 60px;
        height: 60px;
        border: 5px;
        margin-right: 12px;
    }
    p.name {
        font-size: 25px;
        float: left;
        margin: 0;
        margin-top: 10px;
    }
    div.connection {
        width: 200px;
        height: 60px;
        border: 5px;
    }
    .button {
        padding: 8px;
        padding-right: 16px;
        padding-left: 16px;
        margin: 4px;
        margin-top: 2px;
        text-align: center;
        display: inline-block;
        border-radius: 90px;
    }
    div.language {
        width: 60px;
        height: 60px;
        border: 5px;
        text-align: none;
        float: right;
    }
    .flagbutton {
        margin-top: 18px;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
    }
    div.aboutus {
        border: 2px;
        border-bottom: solid lightgray;
        padding: 2px;
        margin: 2px;
        height: 270px;
        text-align: justify;
    }
    .timesquare {
        float: bottom;
        padding: 7px;
        padding-top: 22px;
        padding-left: 20px;
        height: 125px;
    }
    footer {
        bottom: 0;
        text-align: center;
        position: fixed;
        width: 98.8%;
        border: 2px;
        border-top: solid lightgray;
    }
}