.topicscontainer {
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    height: 400px;
}

.topic {
    border: 2px solid lightgrey;
    padding-left: 30px;
    padding-top: 25px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.topic .name {
    font-size: x-large;
    float: left;
}

.topic .date {
    font-size: large;
    float: right;
    color: grey;
    margin-right: 30px;
}

.topicwrapper {
    height: 450px;
    overflow: auto;
    padding-right: 10px;
}

.postscontainer {
    margin: 50px;
    margin-left: 110px;
    margin-right: 110px;
}

.postcontainer {
    width: 98%;
    height: 160px;
    margin: auto;
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.userinfo {
    width: 12%;
    height: 160px;
    float: left;
}

.post {
    padding-left: 10px;
    margin-left: 12%;
    height: 160px;
    border-left: 2px solid lightgrey;
}

.username {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-right: 9px;
}

.content {
    display: block;
}

.postdate {
    font-size: 14px;
    color: grey;
    display: block;
    margin-bottom: 5px;
}

.textareatopic {
    margin-top: 15px;
    padding: 1px 1px 1px 1px;
    border: 1px solid grey;
    border-radius: 7px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 17px;
    padding-left: 3px;
    resize: none;
}

.textareatopic:focus {
    outline: 0;
}

.titleinput {
    width: 500px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
    padding-left: 3px;
}

.goodsize {
    font-size: 25px;
}

.closednotice {
    padding-top: 25px;
    padding-left: 425px;
    color: red;
}

.lockimage {
    padding-right: 15px;
}

.closebutton {
    color: white;
    font-weight: 300;
    background-color: red;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
}