* {
    font-family: 'Source Sans Pro', 'Verdana', serif;
    font-weight: 100;
}
body{
    margin: 0;
    padding: 0;
}

.banner{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.banner section {
    height: 100vh;
    scroll-snap-align: start;
}

.topleftbutton{
    position: relative;
    margin-top: 1px;
    margin-right: 50px;
    z-index: 1;
}

.logo {
    height: 100px;
    position: absolute;
    top: 10px;
    left :5px;
}

h1 {
    position: absolute;
    top: 0px;
    left: 120px;
    font-size: 45px;
    color: white;
}

.toprightbutton{
    position: sticky;
    top: 1px;
    z-index: 1;
}

.flaglogoFr{
    position: absolute;
    top: 20px;
    right: 460px;
}
.flaglogoGb{
    position: absolute;
    top: 20px;
    right: 400px;
}

.flaglogoGb {
    position: absolute;
    top: 20px;
    right: 400px;
}

.buttonright{
    font-size: 150%;
    position: absolute;
    top: 30px;
    right: 1px;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}

.buttonright:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}


.centerbutton{
    position: relative;
    z-index: 1;
}

.buttoncenter{
    font-size: 200%;
    position: absolute;
    top: 70vh;
    right: 25vw;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}

.buttoncenter:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}


.buttoncenter1{
    font-size: 200%;
    position: absolute;
    top: 80vh;
    left: 45vw;
    text-align: center;
    color: white;
    background: none;
    text-decoration: none;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding-right: 40px;
    padding-left: 40px;
    transition: .6s;
    overflow: hidden;
}

.buttoncenter1:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}
.whitelink {
    color: white;
    font-weight: 300;
    background: none;
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
    border: 2px solid #ffffff;
}

.whitelink:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}

.banner video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}

.title,.title1{
    position : relative;
    z-index: 1;
    
}


.titlesmall{
    position : relative;
    z-index: 1;
   
}

.titlemobile{
    position : relative;
    z-index: 1;
   
}

h2{ 
    position: absolute;
    width: auto;
    font-size: 80px;
    color: white;
    margin-left: 350px;
}

.image1{
    position: absolute;
    margin-top: 350px;
    margin-right: 150px;
    margin-left: calc(150px-50vw);
}

.image2{
    position: absolute;
    top: 200px;
    margin-left: 300px;
}

.image3{
    position: absolute;
    top: 300px;
    margin-left: 300px;
}

.footer {
    position: relative;
}

.aboutus{
    top: 830px;
    position: absolute;
    margin-left: 550px;
}

h3{ 
    position: absolute;
    width: auto;
    font-size: 50px;
    color: white;
    margin-left: 350px;
}
h4{ 
    position: absolute;
    font-size: 50px;
    top:150px;
    margin-left: 300px;
}

h5{
    position: absolute;
    width: auto;
    font-size: 50px;
    color: white;
    margin-top:530px;
    margin-left: 430px;
}
h6{
    position: absolute;
    width: auto;
    font-size: 50px;
    color: white;
    margin-top:330px;
    margin-left: 730px;
}


.button {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}




@media only screen and (max-width : 1433px){
    .title{
        display: none;
    }
}

@media only screen and (min-width : 1434px){
    .titlesmall{
        display: none;
    }
}

@media only screen and (max-width :1160px){
    h2,.image2,.image3{
        margin-left: 150px;
    }
}

@media only screen and (max-width: 780px){
    .titlesmall{
        display: none;
    }
}

@media only screen and (min-width:1195px){
    h6{
        display:none
    }
    
}
@media only screen and (max-width:1195px){
    h5{
        display:none
    }
    .aboutus{
        margin-left: 270px;
    }
}