* {
    font-family: 'Source Sans Pro', 'Verdana Pro Light', serif;
    font-weight: 100;
    background-color: white;
}

header {
    top: 0;
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 120px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -30px;
}

.push {
    height: 100px;
}

/*footer pour les grandes pages*/

.footerLong {
    text-align: center;
    width: 98.8%;
    border: 2px;
    border-top: solid lightgrey;
    height: 100px;
    max-height: 100px;
    font-size: medium;
}
.footerShort{
	text-align: center;
	position: fixed;
	bottom: 0px;
    width: 98.8%;
    border: 2px;
    border-top: solid lightgrey;
    height: 100px;
    max-height: 100px;
    font-size: medium;
}

div.logo {
    width: 120px;
    height: 120px;
    border: 5px;
    float: left;
    margin-right: 25px;
}

p.name {
    font-size: 65px;
    float: left;
    margin: 0;
    margin-top: 8px;
}

div.connection {
    width: 400px;
    height: 120px;
    border: 5px;
    float: right;
}

div.language {
    /* float property and vertical align are not compatible */
    width: 240px;
    height: 120px;
    border: 5px;
    text-align: center;
    float: right;
}

div.aboutus {
    border: 2px;
    border-bottom: solid lightgray;
    padding: 10px;
    margin: 5px;
    height: 270px;
    text-align: justify;
}

.clearing {
    clear: both;
}

.timesquare {
    float: right;
    padding: 5px;
    padding-left: 25px;
    height: 250px;
}

.button {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}

.whitelink {
    color: white;
    font-weight: 300;
    background-color: #50b3f8;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
}

.whitelink:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}

.flagbutton {
    margin-top: 47px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.checkmail {
    width: 1080px;
    text-align: center;
    width: 400px;
    padding: 10px;
}

.center {
    text-align: center;
}


/* login & register pages */

.loginformcontainer {
    font-size: x-large;
    height: 350px;
    padding-top: 3%;
    text-align: center;
}

.loginform {
    display: inline-block;
    text-align: right;
    width: 380px;
    padding: 10px;
}

.registerformcontainer {
    font-size: x-large;
    height: 350px;
    padding-top: 0%;
    text-align: center;
}

.registerform {
    display: inline-block;
    text-align: right;
    width: 430px;
    padding: 10px;
}

input[type=email] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=password] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=text] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=date] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=number] {
    width: 75px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #50b3f8;
    color: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 90px;
    border: none;
}

input[type=submit]:hover {
    background-color: #39a5f1;
    cursor: pointer;
    transition-duration: 0.4s;
}

.messagecontainer {
    font-size: x-large;
    height: 65px;
    padding-top: 10%;
    text-align: center;
}

.message {
    display: inline-block;
    text-align: center;
    width: 750px;
    padding: 10px;
}

.passworderror {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    padding-top: 10px;
    padding-left: 5px;
}

.passworderrorlogin {
    color: red;
}

.resetpasswordbutton {
    font-size: 14px;
    float: left;
}

.deletebutton {
    color: white;
    font-weight: 300;
    background-color: red;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 90px;
}

.deletebutton:hover {
    background-color: rgb(160, 0, 0);
    cursor: pointer;
    transition-duration: 0.4s;
}


/* profile page */

.profilecontainer {
    font-size: x-large;
    height: 410px;
    padding-left: 18%;
    margin: auto;
}

.profileinfo {
    float: left;
    text-align: left;
    width: 500px;
    padding: 5px;
}

.profileimage {
    padding-bottom: 8px;
}

.imagecontainer {
    font-size: 15px;
    float: left;
    text-align: center;
    width: 300px;
}

.champsinfo {
    padding-right: 10px;
}

.pageinfoh1 {
    text-align: left;
}

.resetformcontainer {
    font-size: x-large;
    height: 350px;
    padding-top: 5%;
    text-align: center;
}

.resetform {
    display: inline-block;
    text-align: right;
    width: 450px;
    padding: 10px;
}


/* charts */

.chart {
    margin: 0 auto;
    width: 850px;
    height: 380px;
}

.chartitle {
    margin: 0 auto;
    width: 850px;
}


/* Dropdown menu */

.textfloatleft {
    float: left;
}

.dropcontainer {
    float: left;
    margin-left: 630px;
    margin-top: 41px;
}


/* Style The Dropdown Button */

.dropbtn {
    background-color: #50b3f8;
    color: white;
    padding: 12px;
    font-size: 16px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    font-size: 14px;
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1;
    transition-duration: 0.4s;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #39a5f1;
}


/*search page*/

.barre {
    width: 100%;
    text-align: center;
}

input[type=search] {
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

input[type=search]:focus,
input[type=search]:hover {
    border-bottom-width: 6px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-color: #50b3f8;
    outline: none;
}


/*search page*/

.selectbarre {
    position: relative;
    width: 200px;
    height: 25px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: large;
    outline: none;
}

.selectbarre:focus,
.selectbarre:hover {
    border-bottom-width: 6px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-color: #50b3f8;
}

.usercard {
    font-weight: 300;
    background-color: #50b3f8;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: block;
    border-radius: 50px;
    height: 100px;
    float: left;
    text-transform: capitalize;
    min-width: 250px;
    max-width: 350px;
}

.usercard_title {
    list-style-type: none;
    font-size: 20px;
    background-color: #50b3f8;
    margin-top: 8px;
}

.usercard_data {
    list-style-type: none;
    background-color: #50b3f8;
    margin-top: 8px;
    font-size: 15px;
}